body{background-color: #fff  ; font-family: 'Lexend Deca', sans-serif; }

.conteiner {
  display: flex;          /* Включаем гибкую разметку */
  flex-direction: column; /* Элементы будут идти друг под другом (в колонку) */
  align-items: center;     /* Центрирование по горизонтали */
  min-height: 100vh;      /* Контейнер растягивается на всю высоту экрана */
  text-align: center;     /* Центрирует текст внутри элементов */
}

/* Дополнительно для картинок, чтобы они не вылезали за края */
.conteiner img {
  max-width: 100%;
  height: auto;
}
 .canvas {
 	margin-top: 37px;
  position: relative;
  width: 300px;
  height: 300px;
  justify-content: center;
}

.line  {
  position: absolute;
  width: 116px;
  height: 10px;
  background: #000;
  transform: rotate(45deg);
  transform-origin: left center;
  border-radius: 5px;
}

/* первая линия */
.l1 {
  top: 52px;
  left: 100px;
}
.l2 {
  top: 35px;
  left: 117px;
}
.l3 {
  top: 18px;
  left: 134px;
}


.l4 {
  top: 100px;
  left: 100px;
  transform: rotate(-45deg);
}
.l5 {
  top: 117px;
  left: 117px;
  transform: rotate(-45deg);
}
.l6 {
  top: 134px;
  left: 134px;
  transform: rotate(-45deg);
}
 .name {
 	margin-top: -100px;
  position: relative;
  width: 490px;
  height: 200px;
  justify-content: center;
}
.n1{
	position: absolute;
  width: 12px;
  height: 116px;
  background: #000;
  transform-origin: left center;
  border-radius: 5px;
  top: 4px;
}

.n2{
	position: absolute;
  width: 64px;
  height: 12px;
  background: #000;
  transform: rotate(47deg);
  transform-origin: left center;
  border-radius: 5px;
  top: -1px;
  left: 3px;
}
.n3{
	position: absolute;
  width: 12px;
  height: 64px;
  background: #000;
  transform: rotate(47deg);
  transform-origin: left center;
  border-radius: 5px;
  top: -10px;
  left: -18px;
}
.n4{
	position: absolute;
  width: 12px;
  height: 81px;
  background: #000;
  transform-origin: left center;
  border-radius: 5px;
  top: 39px;
  left: 95px;
}
.n5{
	position: absolute;
  width: 64px;
  height: 12px;
  background: #000;
  transform: rotate(-47deg);
  transform-origin: left center;
  border-radius: 5px;
  top:  44px;
  left: 98px;
}
.n6{
	position: absolute;
  width: 12px;
  height: 64px;
  background: #000;
  transform: rotate(-47deg);
  transform-origin: left center;
  border-radius: 5px;
  top:  px;
  left: 76px;
}
.n7{
	position: absolute;
  width: 12px;
  height: 116px;
  background: #000;
  transform-origin: left center;
  border-radius: 5px;
  top: 4px;
  left: 167px;
}
.n8{
	position: absolute;
  width: 103px;
  height: 12px;
  background: #000;
  transform: rotate(45deg);
  transform-origin: left center;
  border-radius: 5px;
  top:  	px;
  left: 169px;
}
.n9{
	position: absolute;
  width: 12px;
  height: 116px;
  background: #000;
  transform-origin: left center;
  border-radius: 5px;
  top: 4px;
  left: 232px;
}
.n10{
	position: absolute;
  width: 12px;
  height: 116px;
  background: #000;
  transform-origin: left center;
  border-radius: 5px;
  top: 4px;
  left: 283px;
}
.n11{
	position: absolute;
  width: 86.44px;
  height: 12px;
  background: #000;
  transform: rotate(47deg);
  transform-origin: left center;
  border-radius: 5px;
  top:  	px;
  left: 285px;
}
.n12{
	position: absolute;
  width: 86.44px;
  height: 12px;
  background: #000;
  transform: rotate(-47deg);
  transform-origin: left center;
  border-radius: 5px;
  top:  	116px;
  left: 285px;
}
.n13{
	position: absolute;
  width: 12px;
  height: 81px;
  background: #000;
  transform-origin: left center;
  border-radius: 5px;
  top: 39px;
  left: 387px;
}
.n14{
	position: absolute;
  width: 64px;
  height: 12px;
  background: #000;
  transform: rotate(-47deg);
  transform-origin: left center;
  border-radius: 5px;
  top:  44px;
  left: 388px;
}
.n15{
	position: absolute;
  width: 12px;
  height: 64px;
  background: #000;
  transform: rotate(-47deg);
  transform-origin: left center;
  border-radius: 5px;
  top:  px;
  left: 368px;
}
.n16{
	position: absolute;
  width: 12px;
  height: 116px;
  background: #000;
  transform-origin: left center;
  border-radius: 5px;
  top: 4px;
  left: 459px;
}
.n17{
	position: absolute;
  width: 89px;
  height: 12px;
  background: #000;
  transform: rotate(-45deg);
  transform-origin: left center;
  border-radius: 5px;
  top:  64px;
  left: 461px;
}
.n18{
	position: absolute;
  width: 12px;
  height: 78px;
  background: #000;
  transform: rotate(-35deg);
  transform-origin: left center;
  border-radius: 5px;
  top:  48px;
  left: 495px;
}
.subtitle {
  /* 1. Настройки шрифта из 3-го скриншота */
  /* Не забудь подключить шрифт в HTML! */
  font-weight: bold;       /* Bold */
  font-size: 34px;         /* Число 34 из макета */
  
  /* 2. Размеры блока из 1-го скриншота */
  width: 542px;            /* W 542 */
  height: 46px;            /* H 46 */
  
  /* 3. Центрирование и активация размеров */
  display: flex;           /* Без этого width/height могут не работать */
  align-items: center;     /* Центр по вертикали */
  justify-content: center; /* Центр по горизонтали */
  text-align: center;
  
  /* 4. Центрирование самого блока на странице */
  margin: 0 auto; 
}